#header{
  background-color: #4fa1ff;
  background-image: url(../img/pattern.png);
  color: #fafffe;
  text-align: left;
  font-family: "Roboto Slab", serif;
  font-size: 2em;
}

h1{
  font-size: 3.5em;
}

#title{

}